---
layout: default
---

<div class="home">

  <div class="columnleft">
    <img src="/files/headshot.jpg" alt="Shin Kikuchi" style="max-width: 70%"/>
  </div>

  <div class="columnright">
    <p>I am a sixth-year PhD student in Economics at MIT. </p>
    <p>My primary fields are trade and macroeconomics. I also work on topics in political economy.</p>
    <p>I am on the 2024-2025 job market.</p>
    <p>Links/PDF: <a href="mailto:skikuchi@mit.edu">Email</a>, <a href="/files/ShinKikuchi_CV.pdf" target="_blank">CV</a> </p>
  </div>

  <div class="fullwidth">
    {{ content }}
  </div>

  

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
