---
layout: default
---

<div class="home">

  <div class="columnleft">
    <img src="/files/headshot2.jpg" alt="Shin Kikuchi" style="max-width: 70%"/>
  </div>

  <div class="columnright">
    <p>Assistant Professor at UC San Diego, GPS </p>
    <p>PhD in Economics at MIT </p>
    <p>Fields: Trade, Macro-Labor, and Political Economy</p>
    <p><a href="mailto:shkikuchi@ucsd.edu">shkikuchi@ucsd.edu</a></p>
    <p>
    <a href="/files/ShinKikuchi_CV.pdf" target="_blank">CV</a>;  
    <a href="https://scholar.google.com/citations?user=ERWAMasAAAAJ" target="_blank">Google Scholar</a>
    </p> 
  </div>

  <div class="fullwidth">
    {{ content }}
  </div>

  

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
