---
layout: default
---

<div class="home">

  <div class="columnleft">
    <img src="/files/headshot.jpg" alt="Shin Kikuchi" style="max-width: 70%"/>
  </div>

  <div class="columnright">
   <p>菊池　信之介 </p>
    <p>2025年7月より、カリフォルニア大学サンディエゴ校助教授 </p>
    <p>マサチューセッツ工科大学（MIT）経済学博士号取得</p>
    <p>専門分野：国際貿易、マクロ経済、政治経済学</p>
    <p> <a href="mailto:skikuchi@mit.edu">連絡先(skikuchi@mit.edu)</a>、 <a href="/files/ShinKikuchi_CV.pdf" target="_blank">履歴書</a> </p>
  </div>

  <div class="fullwidth">
    {{ content }}
  </div>

  

  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%} -->

</div>
